/****************************************TYPOGRAPHY ***************************************************/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #999999;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	color: #433b88;
	font-weight: 600;
	text-transform: uppercase;
}
h1{
	font-size: 3.998em;
}
h2{
	font-size: 2.827em;
}
h3{
	font-size: 1.999em;
}
h4{
	font-size: 1.414em;
}
p{
	font-size: 1em;
	color: #999999;

}


.logo{
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    float: left;
    border: none;
    background: #f4f4f4;
    border-radius: 100px;
}

.logo img{
    float: left;
    width: 62px;
    height: 62px;
    border-radius: 100px;
}

.hima{
    padding: 2px;
    margin: 2px;
    float: none;
    font: 32px;
    color: #ffff;
}

.polban{
    float: none;
    margin: 2px;
    font: 22px Arial;
    color: #ffff;
}


.depar{
    float: none;
    padding: 4px;
    margin: 4px;
    overflow: hidden;
    background: none;
    border: none;
    border-radius: 100px;
}

.depar img{
    float: none;
    width: 145px;
    height: 145px;
    border: none;
    border-radius: 100px;
    background: #ececec;
    padding: 8px;
    margin: 8px;
    overflow: hidden;
}

.depar img:hover{
    background: #884bdf;
    transition: 0.3s;
}

.lates{
    float: none;
    overflow: hidden;
    background: none;
    border: none;
}

.lates img{
    float: left;
    width: 100%;
    height: 145px;
    border: none;
    background: none;
    overflow: hidden;
}

.lates img:hover{
    background: #884bdf;
    transition: 0.3s;
}

.desk{
    padding: 2px;
    padding-bottom: 7px;
    margin: 2px;
    background: #fAFAFA;
    overflow: hidden;
    border: none;
}

.primary-btn {
  background-color: rgb(127,78,224);
  line-height: 42px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover {
  color: #454545;
  background-color: transparent;
  border-color: rgb(127,78,224);
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.white span {
  color: #fff;
}

.primary-btn.white:hover {
  background: #fff;
  color: #88d200;
}

.primary-btn.white:hover span {
  color: #88d200;
}


.upcoming-event-area .event-left .single-events {
  margin-bottom: 50px;
}

.upcoming-event-area .event-left .single-events h4 {
  margin-top: 40px;
}

.upcoming-event-area .event-left .single-events h6 {
  font-weight: 300;
  color: #777;
  padding-top: 10px;
  padding-bottom: 12px;
}

.upcoming-event-area .event-left .single-events h6 span {
  color: #222;
}

.upcoming-event-area .event-right .single-events {
  margin-bottom: 50px;
}

.upcoming-event-area .event-right .single-events img {
  margin-top: 40px;
}

.upcoming-event-area .event-right .single-events h6 {
  font-weight: 300;
  color: #777;
  padding-top: 10px;
  padding-bottom: 12px;
}

.upcoming-event-area .event-right .single-events h6 span {
  color: #222;
}


.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.707em;
	text-transform: uppercase;
	font-weight: 600;
	padding:12px 40px;
	box-shadow: 0px 4px 10px 0px rgba(91, 91, 91, 0.45);
	line-height: 1;
	transition: all .5s ease;
	letter-spacing: 1px;
}

.btn-link{
	padding:0;
	box-shadow: none;
}
.icon-on-button{
	margin-left: 8px;
}
.icon-on-button i{
	font-size: 18px;
	vertical-align: middle;
}

.cta{
	color: #fff;
}
.cta-btn-group{
	margin-top: 15px;
}
.cta-btn-group .btn{
	margin: 10px;
}
.btn-orange.focus, .btn-orange:focus,.btn-orange.active, .btn-orange:active {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-white.focus, .btn-white:focus,.btn-white.active, .btn-white:active {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-violat.focus, .btn-violat:focus,.btn-violat.active, .btn-violat:active {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
/*******************************************HEADER***************************************************/
/*******************************************SLIDER HOME***************************************************/
.sliding-card-with-bottom-image .image-container img{
	position: relative;
    margin: 0 auto;
    padding-top: 90px;
}
.image-right-slide-bg{
	background-repeat: no-repeat !important;
    background-position-x: 100%!important;
    background-size: auto 100%!important;
    padding: 18rem 0;
}
.slider-para{
	font-size: 1.414em;
	font-family: 'Montserrat', sans-serif;
}
/*******************************************SLIDER***************************************************/
.slider-content-wraper{
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
	color: #fff;
}

/*******************************************FEATURE**************************************************/
/*.feature{
	position: relative;
	overflow:hidden;
}
.feature-right-image{
	position: absolute;
	width: 100%;
	height: 100%;
}*/
/*******************************************ELEMENT STYLES*******************************************/
.btn-orange,.btn-violat{
	color: #fff;
}
.gradient-violat {
  background-image: -moz-linear-gradient( 135deg, rgb(104,149,237) 0%, rgb(49,110,231) 35%, rgb(94,87,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(104,149,237) 0%, rgb(49,110,231) 35%, rgb(94,87,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(104,149,237) 0%, rgb(49,110,231) 35%, rgb(94,87,234) 100%);
}

.btn-orange,.gradient-orange {
  background-image: -webkit-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
  background-image: -o-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
  background-image: linear-gradient(125deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
  box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
}

.btn-white,.gradient-white{
	background-image:
    linear-gradient(125deg, #ffffff, #e1e1e1);
    color: #6b6a8b;
}
.border-none{
	border: 0px !important;
}
.btn-rounded-corner{
	border-radius: 50px;
}
.btn-video{
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
    -webkit-user-select: none;
}
.text-center{
	text-align: center;
}
.img-responsive{
	max-width:100%;
}
.text-violat{
	color: #6b6a8b;
}
.padding-top-bottom-120{
	padding-top: 120px;
	padding-bottom: 120px;
}
.padding-top-bottom-90{
	padding-top: 90px;
	padding-bottom: 90px;
}
.bg-image{
	background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center!important;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.margin-top-30{
	margin-top: 3  0px;
}
.overflow-x-hidden{
	overflow-x: hidden;
}
.text-white{
	color: #fff;
}
.btn-navbar{
	line-height: 1;
}
.btn-link i{
	font-size: 18px;
    vertical-align: middle;
}
.btn-video{
	text-transform: uppercase;
	transition: all .5s ease;
}
.btn-video:hover{
	text-decoration: none;
	color: #e86c6c;
}
.btn-video:hover .icon-rounded{
  border-color: #e86c6c;
  box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
  color: #e86c6c;
}
.btn.gradient-orange:hover{
	background-color: #e86c6c!important;
	background-image: none!important;
}
.btn-orange.active, .btn-orange:active{
	color: #fff;
	background-image: -webkit-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    background-image: -o-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    background-image: linear-gradient(125deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    border:0px;
    border-color: transparent;
}
.btn-violat.active, .btn-violat:active{
	color: #fff;
	background-image: -moz-linear-gradient( 135deg, rgb(244,202,216) 0%, rgb(129,112,137) 35%, rgb(14,21,58) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(244,202,216) 0%, rgb(129,112,137) 35%, rgb(14,21,58) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(244,202,216) 0%, rgb(129,112,137) 35%, rgb(14,21,58) 100%);
    border:0px;
    border-color: transparent;
}
.btn-violat:hover,.btn-white:hover{
	background-image: -webkit-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    background-image: -o-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    background-image: linear-gradient(125deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    border:0px;
    border-color: transparent;
}

.icon-rounded{
	width: 49px;
    height: 49px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
    position: relative;
    margin-right: 5px;
    transition: all .5s ease;
}
.icon-rounded i{
	font-size: 3rem;
	line-height: 30px;
	height:30px;
	width: 30px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin-left: 12px;
	transition: all .5s ease;

}
/*******************************************BACKGROUND-STYLES****************************************/
.bg-transparent{
	background-color: transparent;
}
.max-width-100{
	max-width: 100% !important;
}
.italic{
	font-style: italic;
}
.margin-bottom-80{
	margin-bottom: 80px;
}
.margin-bottom-25{
	margin-bottom:25px;
}
.padding-top-90{
	padding-top: 120px;
}
.margin-top-bottom-30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.bordered-ios{
	background-color: transparent;
	border-color: #fff;
	border:1px solid;
}

/*******************************************OVERLAY*************************************************/
@media screen and (max-width: 768px) {
    .sm-padding-top-bottom-50-75 {
        padding-top: 50px;
        padding-bottom: 75px;
    }
    .testimonial-content{
    	padding:0.5rem 1rem;
    }
    .sm-display-none{
		display: none;
	}
	.image-right-slide-wraper .image-right-slide-content{
		text-align: center;
	}
	.image-right-slide-bg{
		background-image: none!important;
	}
	.image-right-slide-bg{
		padding:4rem 15px;
	}
	.home-slider h2{
		font-size: 1.999em;
	}
	.home-slider .slider-para{
		font-size: 1em;
	}
	.padding-top-bottom-120{
		padding-top: 75px;
		padding-bottom: 75px;
	}
	.padding-top-bottom-90{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.padding-top-120{
		padding-top: 75px;
	}
	.padding-top-90{
		padding-top: 60px;
	}
	.card-block{
		padding: 2rem;
	}
	
}
@media screen and (min-width: 769px){
	.image-right-slide-wraper{
		display: table;
		width: 100%;
	}
	.image-right-slide-wraper .image-right-slide-content{
		display: table-cell;
	    vertical-align: middle;
	    float: none;
	}
	.image-right-slide-wraper .image-container{
		float: none;
    	display: table-cell;
	}
}


/***************************************OWL CAROUSEL ******************************************************************/

.owl-theme .owl-controls .owl-page span{
	background: #fff;
}
.owl-theme .owl-controls .owl-buttons div{
	font-size: 45px;
	background-color: transparent;
	color: #fff;
}
.home-slider .owl-controls{
	position: absolute;
    width: 100%;
    top: calc(50% - 35px);
}
.home-slider .owl-buttons{
	position: relative;
}
.home-slider .owl-prev{
	position: absolute;
	left: 0;
}
.home-slider .owl-next{
	position: absolute;
	right: 0;
}